.home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
}
.home .introText {
  color: rgba(0, 0, 0, .75);
  text-align: center;
}

.home .introText h1 {
  font-size: 5vw;
  font-weight: 700;
}

.home .introText h2 {
  font-size: 3vw;
}

.home a {
  position: absolute;
  bottom: 1rem;
  width: 5rem;
  height: 5rem;
  font-size: 5rem;
  color: rgba(0, 0, 0, .75);
  animation: shake 4s cubic-bezier(.36, .07, .19, .97) both;
  animation-delay: 3s;
  animation-iteration-count: 10;
  transform: translate3d(0, 0, 0);
}
