.header {
  position: fixed;
  display: grid;
  width: 100%;
  height: 50px;
  grid-template-columns: 1fr 450px;
  grid-gap: 20px;
  background: #FFF;
  box-shadow: 0 0 1px rgba(0, 0, 0, .3);
  z-index: 100;
}

.header .logo {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0 0 0 20px;
}

.header .logo img {
  height: 35px;
  border-radius: 50%;
}

.header .logo span {
  margin-left: 10px;
  font-size: 1.3rem;
}

.header nav {
  margin: 0 20px 0 0;
}

.header nav ul {
  display: flex;
  height: 100%;
  margin: 0;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.header nav ul li {
  display: inline;
  padding: 0 1rem;
}

.header nav ul li a {
  color: black;
}

.header nav ul li a:hover {
  color: rgb(0, 71, 179);
}
