.header {
  position: fixed;
  display: grid;
  width: 100%;
  grid-template-columns: 200px 1fr;
  background: #FFF!important;
  box-shadow: 0 0 1px rgba(0, 0, 0, .3);
  z-index: 100;
}

.header .logo img {
  height: 50px;
  border-radius: 50%;
}

.header .logo span {
  margin-left: 1rem;
  font-size: 1rem;
}

.header ul {
  overflow: auto;
  line-height: 64px;
  background: transparent;
  border: 0;
  text-align: right;
}

.header ul li {
  top: 0!important;
}
