html {
  font-family: 'Source Code Pro';
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  text-decoration: none;
  color: rgb(0, 102, 255);
}

a:hover {
  color: rgb(0, 71, 179);
}

h1 {
  font-size: 5vw;
  font-weight: bold;
}

h2 {
  font-size: 3vw;
}

h3 {
  margin: 0;
  padding: 3rem;
  font-size: 2rem;
  text-align: center;
  background: white;
  box-shadow: 0 0 1px rgba(0, 0, 0, .3);
}

h5 {
  font-size: 1.5rem;
  font-weight: bold;
}

h6 {
  margin-top: -2rem;
  font-size: .75rem;
  font-weight: 300;
}

@keyframes shake {
  2.5%, 22.5% {
    transform: translate3d(-1px, 0, 0);
  }

  5%, 20% {
    transform: translate3d(2px, 0, 0);
  }

  7.5%, 12.5%, 17.5% {
    transform: translate3d(-4px, 0, 0);
  }

  10%, 15% {
    transform: translate3d(4px, 0, 0);
  }

  25% {
    transform: translate3d(0, 0, 0);
  }
}
